input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.header_logo {
    background-color: #c1bdbe08;
}

.borde_head {
    border-bottom: 5px solid #fe423d;
}

.form-control:focus {
    box-shadow: none;
    border-color: #58585a
}

#client_email,
#client_name {
    max-width: 350px;
    width: 100%;
}

#date {
    max-width: 200px;
    width: 100%;
}

.subtotal.row {
    float: right;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus,
.btn-primary.focus,
.btn-primary:focus,
button.btn-primary {
    background-color: #f07d2d;
    border-color: #f07d2d;
    box-shadow: none;
}

button.btn-primary:hover {
    background-color: #58585a;
    border-color: #58585a;
    box-shadow: none;
}