input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.header_logo {
    background-color: #c1bdbe08;
}

.borde_head {
    border-bottom: 5px solid #fe423d;
}

button.btn-primary {
    background-color: #f07d2d;
    border-color: #f07d2d;
}