input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.header_logo {
    background-color: #c1bdbe08;
}

.borde_head {
    border-bottom: 5px solid #fe423d;
}

.form-control:focus {
    box-shadow: none;
    border-color: #58585a
}

#client_email,
#client_name {
    max-width: 350px;
    width: 100%;
}

.product_line:first-child,
.product_line:nth-child(2n+3) {
    background: #cccccc2e;
}

#date {
    max-width: 200px;
    width: 100%;
}

.subtotal.row {
    float: right;
}

.mes_tarjeta {
    width: 61px;
}

.year_tarjeta {
    width: 92px;
}

.token {
    border-color: #f07d2d !important;
    color: #272728 !important;
    background-color: #fff !important;
    border-radius: 5px;
    padding: 6px;
}

.cantidad {
    width: 60px;
    text-align: center;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus,
.btn-primary.focus,
.btn-primary:focus,
button.btn-primary {
    background-color: #f07d2d !important;
    border-color: #f07d2d !important;
    box-shadow: none !important;
}

button.btn-primary:hover {
    background-color: #58585a !important;
    border-color: #58585a !important;
    box-shadow: none !important;
}

.total_cenv {
    border-top: 1px solid #ccc;
}

.alert {
    display: none;
}

.token{
    display:none;
}
